name: Android CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4.1.7
    - name: set up JDK 21
      uses: actions/setup-java@v4.2.2
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: gradle

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Build with Gradle
      run: ./gradlew build

    - name: Sign app APK
      uses: kevin-david/zipalign-sign-android-release@v2.0.1
      id: sign_app
      with:
        releaseDirectory: app/build/outputs/apk/debug
        signingKeyBase64: ${{ secrets.KONABESS_KEYSTORE }}
        alias: ${{ secrets.KONABESS_ALIAS }}
        keyStorePassword: ${{ secrets.KONABESS_KEYSTORE_PASSWORD }}
        keyPassword: ${{ secrets.KONABESS_KEYSTORE_PASSWORD_ALIAS }}
        zipAlign: true
      env:
        BUILD_TOOLS_VERSION: "34.0.0"

    - name: Upload a Build Artifact
      uses: actions/upload-artifact@v4.4.0
      with:
        name: KonaBess-Granulated.apk
        path: ${{steps.sign_app.outputs.signedReleaseFile}}